{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Recipe Engine{% endblock %}
    
{% block content %}
<div class="container-fluid mt-4">
  <div class="row">
  {% for recipe in recipes %}
  <div class="col-md-3 mb-4">
    <div class="card h-100">
      <img src="{{ recipe.recipe.image }}" alt="" class="card-img-top" style="height: 300px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.recipe.label }}</h5>
        <p class="card-content">{{ recipe.recipe.source }}</p>
        <p class="card-content"><strong>Calories: </strong>{{ recipe.recipe.calories }} KCAL</p>
        
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><span>Dish Type: </span>
            {% for dishType in recipe.recipe.dishType %}
              <strong>{{ dishType }}</strong>
            {% endfor %}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Ingredients:</span>
          <ul class="mb-0">
            {% for ingredient in recipe.recipe.ingredientLines %}
              <li>{{ ingredient }}</li>
            {% endfor %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
{% endblock %}

   
